*{
  margin:0;
  padding: 0;

}
body {
  background-color: gainsboro;
}
.menu{
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  box-shadow: 0px 4px 7px rgba(129, 129, 129, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.94vmax;
}
.menu__logo{
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.67vmax;
  color: #05A88D;
}
.menu__ul{
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.menu__link{
  margin-left: 1.39vmin;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.11vmax;
  line-height: 1.39vmax;
  color: #000000;
}
.menu__link:hover{
  color: #05A88D;
}
.menu__signup{
  text-decoration: none;
  font-size: 1.11vmax;
  font-weight: 300;
  color: #05A88D;
  padding: 0.83vw 1.53vmax;
  border: 0.07vmax solid #05A88D;
  border-radius: 3px;
  margin-right: 0.69vmin;
}
.menu__login{
  text-decoration: none;
  font-size: 1.11vmax;
  font-weight: 300;
  color: #05A88D;
  padding: 0.83vmax 1.53vmax;
  margin-right: 0.69vmin;
}


.container{
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #ADD8E6;
}
.card{
  background-color: #ffffff;
  width: 200px;
  height: 322px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
img{
  width: 200px;
  height: 142px;
  border-radius: 10px 10px 0px 0px;
}
.card__content{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card__title{
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 12px;
}
.card__text{
  width: 165px;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 20px;

}
.card__btn{
  width: 98px;
  height: 27px;
  font-weight: 700;
  font-size: 10px;
  background-color: #2797B2;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
}
.card__btn:hover{
  background-color: #2757B2;
}
.footer{
  padding: 10px 40px 0px;
  color: #ffffff;
  background: #05A88D;
  font-family: 'Exo 2', sans-serif;
  flex: 0 0 auto;
}
.footer__top{
  height: 105px;
  border-bottom: 1px solid;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.footer__left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logo{
  width: 137px;
  color: #F1E67D;
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}
.text{
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  width: 29.86vmax;
  display: flex;
  align-items: center;
}
.footer__right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.contact{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px
}
.phone{
  color: #F1E67D;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
.address{
  font-weight: 300;
  font-size: 12px;
}
.footer__bottom{
  padding: 15px;
  font-weight: 300;
  font-size: 12px;
}
